@{
    Layout = "/Views/Shared/_NoMapLayout.cshtml";
    
}


@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<h3>Site Owner: Ken Pierce</h3>

<p>Welcome to Tree Tagger! What is social tree mapping? Its simply the activity of 
recording the species and any ancillary information of interest of trees as
captured in widely available aerial imagery. It could be used by school groups to map 
all the trees around their school, by arborists or researchers to record specimens
of interest or just curious hikers and tree enthusiasts to spatially record their 
journeys and observations.</p>

<p>This site has a long way to go and currently only has dummy data. If people want to
get started entering real data I'll be sure to back up their work before making any major
database changes. Right now its running on Sql CE 4.0 but will likely get migrated
to Sql Server 2008 R2 in the coming months.</p>

<p>
Contact <br/>
Ken Pierce<br/>
<mailto:"kpierce8@gmail.com:/>
<a  href="http://www.331333loop.com">Personal Website</a>

</p>