@{
    ViewBag.Title = "TreeTagger BETA: Social Tree Mapping";
}

<div id="intro" >

<p id="banner">Major updates coming in mid-July with the intention of accepting data by August 1 2011</p>

<p>Treetagger is a free web site where users can tag trees in digital imagery with species data. 
Initially treetagger is meant as a fun incentive to learn about the trees and identify
individuals much like tagging people in photos. One of the main reasons for building
treetagger was to provide a ready source of species level tree location data for researchers
to use as training locations for vegetation mapping through remote sensing data.
</p>

<h3>So what do I do?</h3>

<ol>
<li>Find a tree and identify it. Maybe that big Doug Fir in your front yard.</li>
<li>Click "Add Tree" in the navigation bar.</li>
<li>Pan around the map until you find the tree you want to "tag."</li>
<li>Click on the tree. (This will populate the latitude and longitude fields).</li>
<li>Fill in the remaining fields and click add.</li>
<li>Bask in the glory of reducing a tiny bit of geographic uncertainty.</li>
</ol>
</div>

<input id="txtQuery" type="text" value="Lacey"/>
<input type="button" value="Geocode" onclick="ClickGeocode()"/>

<input id='textBox' type="text" style="width:250px;"/>
<div id='mapDiv' class="map"></div>



