@{
    ViewBag.Title = "TreeTagger: Social Tree Mapping";
}

<div id="intro" >
<h2>TreeTagger</h2>
<h3>Social Tree Mapping</h3>

<p>Treetagger is a free web site where users can tag trees in digital imagery with species data. 
Initially treetagger is meant as a fun incentive to learn about the trees and identify
individuals much like tagging people in photos. One of the main reasons for building
treetagger was to provide a ready source of species level tree location data for researchers
to use as training locations for vegetation mapping through remote sensing data.
</p>
</div>

<input id="txtQuery" type="text" value="Lacey"/>
<input type="button" value="Geocode" onclick="ClickGeocode()"/>

<input id='textBox' type="text" style="width:250px;"/>
<div id='mapDiv' class="map"></div>



