body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header,
footer,
nav,
section {
    display: block;
}

#banner 
{
    background-color:Fuchsia;
    font-size: 1.5em;
}

/* Styles for basic forms
-----------------------------------------------------------*/
.map {
position: absolute;
top: 50px;
left: 510px;
width: 600px;
height: 500px;
border:#555555 2px solid;
}

.map2 {
float: right;
width: 500px;
height: 500px;
border:#555555 2px solid;
}

.mapForm
{
 float:left;  
 width:500px; 

}
#intro
{
    width:500px;
    background-color:Green;
}

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
